<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Vue Template</title>
	<link rel="icon" type="image/png" href="Icon.png" />

	<!-- SELF HOSTED: (works offline)  -->
	<script src="./libs/vue.v3.3.4.global.prod.min.js"></script>

	<!-- 
	DOCUMENTATION:
	https://vuejs.org/guide/quick-start.html#using-vue-from-cdn
	https://vuejs.org/guide/essentials/application.html
	https://vuejs.org/guide/quick-start.html#using-vue-from-cdn
	https://www.jsdelivr.com/package/npm/vue
	https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules
	-->
</head>
<body>
	<h4>Vue Template</h4>
	<div id="vue-root">
		<div>Name: <input v-model="name"></div>
		<div>Surname: <input v-model="surname"></div>
		<button @click="sayHello">Say Hello</button>
		<button @click="count++">Counter: {{ count }}</button>
	</div>
</body>
<script type="module">

var App = {
	name: 'App',
	data() {
		return {
			count: 0,
			name: 'Peter',
			surname: 'Parker',
		}
	},
	computed: {
		fullName() {
			return `${this.name} ${this.surname}`
		}
	},
	methods: {
		sayHello() {
			alert(`Hello ${this.fullName}!`)
		}
	}
}
var vueApp = Vue.createApp(App).mount('#vue-root')
console.log("Finished!")

</script>

</html>