<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Vue Template</title>
	<link rel="icon" type="image/png" href="Icon.png" />

	<!-- CDN: -->
	<script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>

	<!--
	OTHER CDN:
	<script src="https://cdn.jsdelivr.net/npm/vue@3.3/dist/vue.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@3.3/dist/vue.global.prod.min.js"></script>

	SELF HOSTED: (works offline)
	<script src="./libs/vue.v3.3.4.global.prod.min.js"></script>

	DOCUMENTATION:
	https://vuejs.org/guide/quick-start.html#using-vue-from-cdn
	https://vuejs.org/guide/essentials/application.html
	https://vuejs.org/guide/quick-start.html#using-vue-from-cdn
	https://www.jsdelivr.com/package/npm/vue
	https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules
	-->
</head>
<body>
	<h4>Vue Template</h4>
	<div id="vue-root">
		<div>Name: <input v-model="name"></div>
		<div>Surname: <input v-model="surname"></div>
		<button @click="sayHello">Say Hello</button>
		<button @click="count++">Counter: {{ count }}</button>
	</div>
</body>

<script type="importmap">
{
	"imports": {
		"vue": "https://unpkg.com/vue@3.3.4/dist/vue.esm-browser.js"
	}
}
</script>

<script type="module">

//import * as Vue from 'https://unpkg.com/vue@3.3.4/dist/vue.esm-browser.js' // Without requiring the "importamp".
//import * as Vue from 'https://cdn.jsdelivr.net/npm/vue@3.3.4/+esm' // Another CDN option.
//import * as Vue from 'vue' // Thanks to the "importamp".

var App = {
	name: 'App',
	data() {
		return {
			count: 0,
			name: 'Peter',
			surname: 'Parker',
		}
	},
	computed: {
		fullName() {
			return `${this.name} ${this.surname}`
		}
	},
	methods: {
		sayHello() {
			alert(`Hello ${this.fullName}!`)
		}
	}
}
var vueApp = Vue.createApp(App).mount('#vue-root')
console.log("Finished!")

</script>

</html>